@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background: rgb(30,13,31);
  background: linear-gradient(180deg, rgba(30,13,31,1) 10%, rgba(0,0,0,1) 90%);
}

* {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.loading_page {
  background: rgb(30,13,31);
  background: linear-gradient(180deg, rgba(30,13,31,1) 10%, rgba(0,0,0,1) 90%);

}



.hiddenn {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s linear;
}
.show {
  opacity: 1;
  filter: blur(0px);
}

.youtube_bloque {
  border-radius: 2%;
  margin: 2rem;
  box-shadow: 0px 0px 50px 23px rgba(0, 0, 0, 0.3);
  max-height: 328px;
}

@media (max-width: 767px) {
  .youtube_bloque {
    height: 260px;
    width: 100%;
  }
}

.bloq_color {
  animation: colorChange 6s linear infinite;
  transform: skew(-3deg,-2deg);
}

.loader_image {
  
  width: 260px;
  height: 260px;
  /* opacity: 0;
  animation: fadeIn 3s ease-in-out forwards; */
}




@keyframes colorChange {
  0% {
    background-color: #4a6d69;
  }

  25% {
    background-color: #06271c;
  }
  50% {
    background-color: #224740;
  }
  75% {
    background-color: #417862;
  }
  100% {
    background-color: #4a6d69;
  }
}

/* -- MEDIA QUERIES --*/ /* -- MEDIA QUERIES --*//* -- MEDIA QUERIES --*//* -- MEDIA QUERIES --*//* -- MEDIA QUERIES --*//* -- MEDIA QUERIES --*/


@media (max-width: 768px){
  .block_projects  {
    display: flex;
    flex-direction: column;
    
  }
  .links {
    max-width: 16px;

  }
}

.links:hover {
  filter: brightness(12);
}

.dot  {
  /* color:red !important; */
  background-color: red !important;
  scale: 1.6;
}

.prev-arrow {
  background-color: #06271c !important;
}

.next-arrow {
  background-color: #06271c !important;
}


.bg_projects {
  height: 50%;
}


