@tailwind base;
@tailwind components;
@tailwind utilities;



.body {
  width: 100%;
  height: 100vh;
}

* {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.sobre_mi {
  
  font-weight: 600;
  padding: 30px;
}



.loading_page {
  background: rgb(30, 13, 31);
  background: linear-gradient(
    180deg,
    rgba(30, 13, 31, 1) 10%,
    rgba(0, 0, 0, 1) 90%
  );
}

/* GRID COMPONENT GRID COMPONENT GRID COMPONENT GRID COMPONENT */

.main_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1220px; /* Asegura que no se formen más de 4 columnas */
  margin: 0 auto; /* Centra la cuadrícula en la pantalla */
  gap: 16px;
  padding: 48px 24px;


}

@media (max-width: 768px) {
  .main_grid {
    justify-items: center;
  }
  .grid_image {
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
  }
}

.grid_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hover_text {
  color: transparent;
  transition: color 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid_link:hover .hover_text {
  color: white;
}

.grid_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hover_image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid_link:hover .hover_image {
  opacity: 0.92;
}

.hiddenn {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s linear;
}
.show {
  opacity: 1;
  filter: blur(0px);
}

.youtube_bloque {
  border-radius: 2%;
  margin: 2rem;
  box-shadow: 0px 0px 50px 23px rgba(0, 0, 0, 0.3);
  max-height: 328px;
}

@media (max-width: 767px) {
  .youtube_bloque {
    height: 260px;
    width: 100%;
  }
}

.bloq_color {
  /* animation: colorChange 6s linear infinite;
  transform: skew(-3deg, -2deg); */
}

.loader_image {
  width: 260px;
  height: 260px;
  /* opacity: 0;
  animation: fadeIn 3s ease-in-out forwards; */
}

.parrafo:hover {
  text-shadow: red -3px 0, cyan 3px 0;
  transition: all 0.5s ease-in-out;
}

@keyframes colorChange {
  0% {
    background-color: #4a6d69;
  }

  25% {
    background-color: #06271c;
  }
  50% {
    background-color: #224740;
  }
  75% {
    background-color: #417862;
  }
  100% {
    background-color: #4a6d69;
  }
}

/* -- MEDIA QUERIES --*/ /* -- MEDIA QUERIES --*/ /* -- MEDIA QUERIES --*/ /* -- MEDIA QUERIES --*/ /* -- MEDIA QUERIES --*/ /* -- MEDIA QUERIES --*/

@media (max-width: 768px) {
  .block_projects {
    display: flex;
    flex-direction: column;
  }
  .links {
    max-width: 16px;
  }

  .link_container {
    display: flex;

    top: 0%;
    bottom: 100%;
  }
}

.links:hover {
  filter: brightness(12);
}

.dot {
  /* color:red !important; */
  background-color: red !important;
  scale: 1.6;
}

.prev-arrow {
  background-color: #06271c !important;
}

.next-arrow {
  background-color: #06271c !important;
}

.bg_projects {
  height: 50%;
}


.container {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: rgb(120, 2, 2);
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  flex: 0 0 100%;
    min-width: 100vw;
    white-space: nowrap;
    height: 100vh;
}